@charset "ISO-8859-1";

body{
	background: url(/images/immagine-login.png);
	background-size: cover;
	background-repeat: no repeat;
	background-attachment: fixed;
	background-position: center;
}

.centered-form-container{
	display : flex;
	justify-content:center;
	align-items:center;
	margin-top: 13%
}

#LoginTitle {
	margin-left: 47px;
}

#inputUsername {
	border-radius: 50px;
	width: 300px;
}

#inputPassword {
	border-radius: 50px;
	width: 300px;
}

#SubmitLoginButton {
	border-radius: 50px;
	width: 300px;
}

#LoginTitle {
	margin-left: 95px;
	margin-bottom: 30px;
	color: black;
}

.password-toggle-icon {
	position: absolute;
	right: 0.5rem;
	top: 25%;
	cursor : pointer;
}

